<div class="Celery-ModalContainer is-hidden">
<!--   <a class="Celery-ModalCloseButton">
    &times;
  </a> -->
  <div class="Celery-Modal">
    <div class="Celery-Modal-header">
<!--       <h1 class="Celery-Modal-heading">
        
      </h1> -->

      <!-- <h2 class="Celery-Modal-subheading">
        
      </h2> -->

      <p></p>
    </div>

    <div class="Celery-Modal-body">
    </div>

    <div class="Celery-Modal-footer">
      <ul>
        <li>As a result of overwhelming demand for our 3D version of InAiR, we will only ship the 3D version of InAiR at the end of each month from our factory. Cutoff for month end shipping, will be the 20th of each the month. For the 2D version, orders will be processed within 48 hours of receipt and shipped within 7 days of your order.</li>
        <li>For shipments outside the US, you are responsible for any duties or custom your country may impose.</li>
        <li>By placing this order, you agree to InAiR's <a href='https://www.inair.tv/terms/' class='tos' target='_blank'>terms of service</a>.</li>
        <li>Your card will be charged immediately.</li>
      </ul>
    </div>
  </div>
</div>
