<div class="Celery-ModalContainer is-hidden">
<!--   <a class="Celery-ModalCloseButton">
    &times;
  </a> -->
  <div class="Celery-Modal">
    <div class="Celery-Modal-header">
      <!-- <h1 class="Celery-Modal-heading">
        Pre-Order for 50% Off!
      </h1>

      <h2 class="Celery-Modal-subheading">
        Your card will be charged immediately
      </h2> -->
    </div>

    <div class="Celery-Modal-body">
    </div>

    <div class="Celery-Modal-footer">
      <p>
        By placing this order, you agree to InAiR's <a href='#' class='tos' target='_blank'>terms of service</a> <br/> Your card will be charged immediately.
      </p>
    </div>
  </div>
</div>
