<div class="Celery-ModalContainer is-hidden">
<!--   <a class="Celery-ModalCloseButton">
    &times;
  </a> -->
  <div class="Celery-Modal">
    <div class="Celery-Modal-header">
<!--       <h1 class="Celery-Modal-heading">
        
      </h1> -->
<!-- 
      <h2 class="Celery-Modal-subheading">
        For orders placed after March 28, InAiR starts shipping in <br/> Summer 2015.
      </h2> -->
    </div>

    <div class="Celery-Modal-body">
    </div>

    <div class="Celery-Modal-footer">
      <p>
        By placing this order, you agree to InAiR's <a href='#' class='tos' target='_blank'>terms of service</a>. Your card will be charged immediately.
      </p>
    </div>
  </div>
</div>
