@form-group-margin: @grid-small-gutter;
@form-group-padding: @grid-small-gutter / 2;

.Celery-Form-group {
  position: relative;
  margin-bottom: @form-group-margin;
  overflow: hidden;
  padding-right: @form-group-padding;
  padding-left: @form-group-padding;

  &:last-child {
    margin-bottom: 0;
  }
}

.Celery-Form-group--inline {
  float: left;
  display: inline;
  width: 50%;
}

.Celery-Form-group--34 {
  float: left;
  display: inline;
  width: 75%;
}

.Celery-Form-group--14 {
  float: left;
  display: inline;
  width: 25%;
}

.Celery-Form-group--13 {
  float: left;
  display: inline;
  width: 33%;
}

.Celery-Form-group--23 {
  float: left;
  display: inline;
  width: 66%;
}

.Celery-Form-group--expiry {
  width: 10em;
}

#group-state {
  input[disabled] { display: none; }
}

.Celery-Form-group--cvc {
  width: 8em;
}

@media screen and (max-width: @breakpoint-small) {
  .Celery-Form-group--expiry {
    width: 50%;
  }

  .Celery-Form-group--cvc {
    width: 50%;
  }
}
